.views-bottom-panel {
  div {
    box-sizing: border-box;
    padding-top: 4px;
  }
  .title {
    font-size: calc(10px + 2vmin);
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 8px;
  }
  .list {
    min-height: 200px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .mui-panel-header-title {
    padding-top: 0px;
  }
}
