#include "ITMApplication.xcconfig"
// If you get the error "could not find included file 'clientID.xconfig' in search paths",
// you need to create the clientID.xcconfig file, and populate it with the proper value for the
// ITMAPPLICATION_CLIENT_ID and ITMAPPLICATION_SCOPE environment variables. It will look like this
// (without the comment prefix):
// ITMAPPLICATION_CLIENT_ID = YOUR-CLIENT-ID-GOES-HERE
// ITMAPPLICATION_SCOPE = YOUR-SCOPE-GOES-HERE
// NOTE: You may have to restart Xcode after creating ITMApplication.xcconfig.
//
// Set the following setting if you want to connect based on your Mac's IP address instead of
// your Mac's hostname.
// ITMAPPLICATION_USE_IP = YES
//
// If you set it to use your IP address, and want it to use the IP from a device other than
// en0, set the following to the name of the device to use.
// ITMAPPLICATION_SERVER_DEVICE
//
// If you want to run the built app locally on the device instead of using the React debug
// server, set the following:
// ITMAPPLICATION_NO_DEBUG_SERVER = YES
//
// Other supported ITMApplication settings:
// ITMAPPLICATION_ISSUER_URL
// ITMAPPLICATION_REDIRECT_URI
//
// Set the following setting if you want to put delimiters around the app's localized strings.
// ITMSAMPLE_DEBUG_I18N = YES
//
// Set the following setting if you want the model to display in low resolution. If you are
// running on a Simulator with iOS before iOS 15, it is HIGHLY recommended that you set this.
// ITMSAMPLE_LOW_RESOLUTION = YES
//
// Set the following setting if you want to enable ShowTime tap visibility:
// ITMSAMPLE_SHOWTIME_ENABLED = YES
