#include "ITMApplication.xcconfig"
// If you get the error "could not find included file 'ITMApplication.xcconfig' in search paths",
// you need to create the ITMApplication.xcconfig file, and populate it with proper values. The
// supported values are all documented here and can be copied into that file, uncommented, and
// given appropriate values.
// NOTE: You may have to restart Xcode after creating ITMApplication.xcconfig.

// If you use Xcode to select your development team, it will update the project.pbxproj file for
// your Xcode project. That modification will tell you the value to use for YOUR_DEVELOPMENT_TEAM
// for the following value. Once you set this value, you can revert the changes to project.pbproj,
// and things will still build correctly.
// DEVELOPMENT_TEAM = YOUR_DEVELOPMENT_TEAM

// The following four settings apply to all of the samples except ThirdPartyAuth. The first is
// required to run those samples. The second is recommended, but does have a reasonable default.
//
// ITMAPPLICATION_CLIENT_ID = YOUR-CLIENT-ID-GOES-HERE
// ITMAPPLICATION_SCOPE = YOUR-SCOPE-GOES-HERE
//
// Other supported ITMApplication settings:
// ITMAPPLICATION_ISSUER_URL
// ITMAPPLICATION_REDIRECT_URI

// The following four settings only apply to the ThirdPartyAuth example.
//
// The URL of your token server. Note that $() is used between the two slashes in the URL because
// Xcode's parsing of this xcconfig file will otherwise treat everything starting at the two
// slashes as a comment. The $() gets substituted with an empty string at build time.
// ITMSAMPLE_TOKEN_SERVER_URL = http:/$()/10.0.0.1:3001/getToken
//
// The Client ID from Auth0.
// ITMSAMPLE_AUTH0_CLIENT_ID = YOUR-AUTH0-CLIENT-ID-GOES-HERE
//
// The domain from Auth0.
// ITMSAMPLE_AUTH0_DOMAIN = YOUR-AUTH0-DOMAIN-GOES-HERE
//
// The audience from Auth0. Make sure to use /$()/ instead of // (like the URL above).
// This must match the audience defined in the Auth0 dashboard.
// Note: The sample value here can probably be left as-is.
// ITMSAMPLE_AUTH0_AUDIENCE = https:/$()/$(ITMSAMPLE_AUTH0_DOMAIN)/userinfo

// The remaining settings apply to all samples, and are all optional.
//
// Set the following setting if you want to connect to the React debug server based on your Mac's
// IP address instead of your Mac's hostname.
// ITMAPPLICATION_USE_IP = YES
//
// If you set it to use your IP address, and want it to use the IP from a device other than
// en0, set the following to the name of the device to use.
// ITMAPPLICATION_SERVER_DEVICE
//
// If you want to run the built app locally on the device instead of using the React debug
// server, set the following:
// ITMAPPLICATION_NO_DEBUG_SERVER = YES
//
// Set the following setting if you want to enable logging of messages passed between swift and typescript:
// ITMAPPLICATION_MESSAGE_LOGGING = YES
// Or to include the data passed with the messages (may contain sensitive data, DO NOT enable this in a release build):
// ITMAPPLICATION_FULL_MESSAGE_LOGGING = YES
//
// Set the following setting if you want to put delimiters around the app's localized strings.
// ITMSAMPLE_DEBUG_I18N = YES
//
// Set the following setting if you want the model to display in low resolution. If you are
// running on a Simulator with iOS before iOS 15, it is HIGHLY recommended that you set this.
// ITMSAMPLE_LOW_RESOLUTION = YES
//
// Set the following setting if you want to enable ShowTime tap visibility:
// ITMSAMPLE_SHOWTIME_ENABLED = YES
