#NOTE: we're forcing everything through Azure DevOps as that's what BentleyBuild pull forces for parts with NpmDependency nodes.
registry=https://pkgs.dev.azure.com/bentleycs/_packaging/Packages/npm/registry/
always-auth=true
